<div class="text-left">
  <h2 class="title">{{title}}</h2>
  <h6>Created by {{user.name}} on {{format_date date_created}}</h6>
  <p>{{blog_text}}</p>
  <p>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment">Comment On This Post</label>
        <textarea class="form-input" id="comment-text" title="comment-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Comment</button>
      </div>
    </form>
  </p>
  <h5>Comments</h5>
  <p>{{comment_text}}</p>
</div>

<script src="./js/comment.js"></script>
