<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Posted by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p class="text">
      {{blog.blog_text}}
    </p>
  </div>
</div>
{{/each}}
